<% include _includes/header %>
<div class="container">
  <h1>About Us</h1>
  <p>We made this project for the lesser know website out on the world wide web. At the homepage you can select what kind of site you would like to discover such as games. This project is based off of contributions and crowdsourcing different websites so please make sure to contribute.</p>
</div>
<% include _includes/footer %>
