<% include _includes/header %>

  <div class="container">

        <h1 class="master-center">Welcome!</h1>
        <p class="format-paragraph">Welcome to my project. This website was created to cure bordem or for finding something new. To get started just click on one of the buttons below.</p>
        <div class=" master-center">
          <button class="btn btn-success btn-lg" onclick="randomWebsite('index')" type="button" name="button">Index!</button>
          <button class="btn btn-success btn-lg" onclick="randomWebsite('game')" type="button" name="button">Games!</button>
          <button class="btn btn-success btn-lg" onclick="randomWebsite('useless')" type="button" name="button">Useless!</button>
        </div>
  </div>
  <% include _includes/footer %>
